---
import {type CollectionEntry, getCollection, render} from 'astro:content';

import FormattedDate from '@/components/FormattedDate.astro';
import Default from '@/layouts/Default.astro';
import Tags from '@/components/Tags.astro';
import {createExcerpt} from '@/utils/create-excerpt';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: {slug: post.id},
    props: post,
  }));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const {Content, remarkPluginFrontmatter} = await render(post);
const {minutesRead} = remarkPluginFrontmatter;
const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const currentPostIndex = posts.findIndex((p) => p.id === post.id);
const previousPost =
  currentPostIndex < posts.length - 1 ? posts[currentPostIndex + 1] : null;
const nextPost = currentPostIndex > 0 ? posts[currentPostIndex - 1] : null;
const {title, date, tags} = post.data;
const minutesReadNumber = parseInt(minutesRead, 10);
const excerpt = createExcerpt(post.body);
---

<Default title={title} description={excerpt} date={date}>
  <article>
    <header>
      <h1>{title}</h1>
      <div class='post-meta'>
        <ul class='details'>
          <li class='detail'>
            <FormattedDate date={date} />
          </li>
          <li class='detail'>{minutesReadNumber} minutes to read</li>
        </ul>
        <Tags tags={tags} withLinks />
      </div>
    </header>
    <Content />
    <div class='posts-nav'>
      {
        previousPost && (
          <div class='posts-nav-item posts-nav-item-prev'>
            <a class='posts-nav-link' href={`/blog/${previousPost.id}/`}>
              &#8592;&nbsp;{previousPost.data.title}
            </a>
          </div>
        )
      }
      {
        nextPost && (
          <div class='posts-nav-item posts-nav-item-next'>
            <a href={`/blog/${nextPost.id}/`}>
              {nextPost.data.title}&nbsp;&#8594;
            </a>
          </div>
        )
      }
    </div>
  </article>
</Default>

<style>
  .post-meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 0;
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-family-sans-serif-condensed);
    color: var(--color-text-secondary);
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    row-gap: 0;
  }

  .detail {
    position: relative;
  }
  .detail::after {
    content: '·';
    position: absolute;
    right: -0.5rem;
    top: 0;
    transform: translate(50%, 0);
  }
  .detail:last-child::after {
    content: '';
  }

  .posts-nav {
    margin-bottom: 2rem;
    font-family: var(--font-family-sans-serif-condensed);
  }
  .posts-nav::after {
    content: '';
    display: table;
    clear: both;
  }

  .posts-nav-item {
    width: 50%;
  }
  .posts-nav-item-prev {
    float: left;
  }
  .posts-nav-item-next {
    float: right;
    text-align: right;
  }
</style>
