---
import Default from '@/layouts/Default.astro';
import {PAGES_METADATA} from '@/consts';
import HistoryImage from '@/assets/history/history-page.png';

const {title, description} = PAGES_METADATA.history;
---

<Default title={title} description={description} image={HistoryImage}>
  <section>
    <h1>{title}</h1>
    <table>
      <thead>
        <tr>
          <th>Year</th>
          <th>Technology</th>
          <th>Host</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2024</td>
          <td>Jekyll</td>
          <td>GitHub Pages</td>
        </tr>
        <tr>
          <td>2025</td>
          <td>Astro</td>
          <td>GitHub Pages</td>
        </tr>
      </tbody>
    </table>
  </section>
</Default>

<style>
  table {
    margin: 2rem 0;
    border-collapse: collapse;
  }

  tr {
    border-bottom: var(--border-small);
  }

  td {
    padding: 1rem 0;
  }

  th {
    padding: 0 0 1rem 0;
  }
</style>
