---
import {Image} from 'astro:assets';

import Default from '@/layouts/Default.astro';
import ArthurMalumianImage from '@/assets/arthur-malumian.jpg';
import {PAGES_METADATA} from '@/consts';

const {title, description} = PAGES_METADATA.home;
---

<Default title={title} description={description}>
  <section>
    <h1>Arthur Malumian</h1>
    <Image class='photo' src={ArthurMalumianImage} alt='Arthur Malumian' />
    <p>
      I am Arthur Malumian (рус. Арту́р Малумя́н), a programmer based in
      Novosibirsk, Russia.
    </p>
    <p>
      I currently work as a <b>Frontend Software Engineer</b> at <a
        href='https://www.cft.ru/'>CFT</a
      >. You can find more details in my <a href='/pdf/resume.pdf'>resume</a>.
    </p>
    <h2>Web Development</h2>
    <p>
      I have been developing web applications since 2022. I work with both
      frontend and backend technologies using TypeScript.
    </p>
    <p>
      Continuous learning is important to me, so I read books on computer
      science, explore new technologies, and strive to stay up to date with the
      latest development trends.
    </p>
    <p>
      I don’t have a passion for any particular technology — to me, they’re all
      just tools. What truly matters is a solid understanding of programming
      concepts and principles.
    </p>
    <h2>Workflow</h2>
    <p>
      I am a Vim enthusiast. I like Vim’s philosophy and how it helps me work
      efficiently. My
      <a href='https://github.com/amalumian/dotfiles'>dotfiles</a>
      can be found on GitHub.
    </p>
    <h2>Spare Time</h2>
    <p>
      I enjoy spending time with my girlfriend Lisa — whether we're watching TV
      shows, taking evening walks, or playing video games. It’s a simple kind of
      happiness that helps me recharge and stay inspired.
    </p>
    <p>
      Also, I like keeping track of things I watch, read, or play, so you can
      check out my profiles on
      <a href='https://www.goodreads.com/amalumian'>Goodreads</a>,
      <a href='https://www.imdb.com/user/ur107408671/'>IMDb</a>, and
      <a href='https://www.ign.com/playlist/amalumian'>IGN</a>.
    </p>
    <h2>Contact</h2>
    <p>
      If you have any questions, please do not hesitate to contact me via
      <a href='mailto:arthur@malumian.dev'>email</a>.
    </p>
  </section>
</Default>

<style>
  .photo {
    margin: 2rem 0 2rem 2rem;
    float: right;
    width: 33%;
    aspect-ratio: 1 / 1;
  }
</style>
