---
import {Image} from 'astro:assets';

import Default from '@/layouts/Default.astro';
import SetupImage from '@/assets/setup/desk.jpeg';
import {PAGES_METADATA} from '@/consts';

const {title, description} = PAGES_METADATA.setup;
---

<Default title={title} description={description} image={SetupImage}>
  <section>
    <h1>{title}</h1>
    <p>This page provides an overview of my setup.</p>
    <p>
      <Image src={SetupImage} alt='Deskp' />
    </p>
    <h2>Table of Contents</h2>
    <ul>
      <li>
        <a href='#hardware'>Hardware</a>
        <ul>
          <li>
            <a href='#macbook-specification'>MacBook Specification</a>
          </li>
        </ul>
      </li>
      <li>
        <a href='#software'>Software</a>
      </li>
    </ul>
    <h2 id='hardware'>Hardware</h2>
    <ul>
      <li><b>Laptop:</b> Apple MacBook Air M1</li>
      <li><b>Monitor:</b> Dell S2725QC</li>
      <li><b>Keyboard:</b> Logitech ERGO K860</li>
      <li><b>Mouse:</b> Logitech MX Vertical</li>
      <li><b>Webcam:</b> Logitech Brio 500</li>
      <li><b>Headphones:</b> beyerdynamic DT 770 PRO</li>
    </ul>
    <h3 id='macbook-specification'>MacBook Specification</h3>
    <ul>
      <li>13.3”</li>
      <li>Apple M1 chip</li>
      <li>16 GB RAM</li>
      <li>512 GB SSD</li>
    </ul>
    <h2 id='software'>Software</h2>
    <ul>
      <li><a href='https://github.com/amalumian/dotfiles'>dotfiles</a></li>
    </ul>
  </section>
</Default>
