---
import Icon from './Icon.astro';

import {SOCIALS} from '@/consts';
---

<footer class='footer'>
  <div class='wrapper'>
    <ul class='list'>
      {
        SOCIALS.map((link) => (
          <li class='list-item'>
            <a
              class='link'
              href={link.link}
              title={link.name}
              aria-label={link.name}
            >
              <Icon class='link-icon' iconName={link.icon} />
            </a>
          </li>
        ))
      }
    </ul>
    <p class='copyright'>
      Copyright &copy; 2024–2026
      <a href='https://github.com/malumian/arthur/blob/main/LICENSE'
        >Arthur Malumian</a
      >
    </p>
  </div>
</footer>

<style>
  .footer {
    text-align: center;
    border-top: var(--border-medium);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-sans-serif-condensed);
  }

  .wrapper {
    margin: 0 auto;
    padding: 2rem;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .link {
    display: block;
  }

  .link-icon {
    display: block;
  }

  .copyright {
    margin: 0;
  }
</style>
