---
import type {ImageMetadata} from 'astro';

import {SITE_TITLE} from '@/consts';
import FallbackImage from '@/assets/arthur-malumian.jpg';

import '@/styles/variables.css';
import '@/styles/fonts.css';
import '@/styles/global.css';

interface Props {
  title: string;
  description: string;
  date?: Date;
  image?: ImageMetadata;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {title, description, date, image = FallbackImage} = Astro.props;
const formattedTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---

<!-- Google tag (gtag.js) -->
<script
  is:inline
  async
  src='https://www.googletagmanager.com/gtag/js?id=G-GE3HBN0R3D'></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    // eslint-disable-next-line no-undef
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-GE3HBN0R3D');
</script>
<!-- Google tag (gtag.js) -->
<meta
  name='google-site-verification'
  content='0aqpwYx3EisLP6hsmVDjq5v7tuvK9RdrXcZJxePXp0I'
/>
<meta name='yandex-verification' content='db8c87467f0d3380' />

<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<meta name='color-scheme' content='light dark' />
<link rel='sitemap' href='/sitemap-index.xml' />
<link
  rel='alternate'
  type='application/rss+xml'
  title={SITE_TITLE}
  href={new URL('rss.xml', Astro.site)}
/>
<meta name='generator' content={Astro.generator} />

<meta
  name='theme-color'
  content='#ffffff'
  media='(prefers-color-scheme: light)'
/>
<meta
  name='theme-color'
  content='#000000'
  media='(prefers-color-scheme: dark)'
/>

<style is:inline>
  :root {
    color-scheme: light;
    background-color: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      background-color: #000000;
    }
  }
</style>

<link rel='icon' href='/favicons/favicon.ico' sizes='32x32' />
<link rel='icon' href='/favicons/icon.svg' type='image/svg+xml' />
<link rel='apple-touch-icon' href='/favicons/apple-touch-icon.png' />
<link rel='manifest' href='/manifest.webmanifest' />

<link
  rel='preload'
  href='/fonts/monospace/robotomono-regular.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/monospace/robotomono-bold.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/monospace/robotomono-italic.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/sans-serif/roboto-regular.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/sans-serif/roboto-bold.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/sans-serif/roboto-italic.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/sans-serif/robotocondensed-regular.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/sans-serif/robotocondensed-bold.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/sans-serif/robotocondensed-italic.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>

<link rel='canonical' href={canonicalURL} />

<meta name='author' content={SITE_TITLE} />
<title>{formattedTitle}</title>
<meta name='title' content={formattedTitle} />
<meta name='description' content={description} />

<meta
  property='og:type'
  content={Astro.url.pathname.startsWith('/blog/') &&
  !Astro.url.pathname.startsWith('/blog/tags/') &&
  Astro.url.pathname !== '/blog/'
    ? 'article'
    : 'website'}
/>
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={formattedTitle} />
<meta property='og:description' content={description} />
<meta property='og:image' content={new URL(image.src, Astro.url)} />
<meta property='og:locale' content='en_US' />
<meta property='og:site_name' content={Astro.url.host} />

<meta property='twitter:card' content='summary' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={formattedTitle} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={new URL(image.src, Astro.url)} />
<meta property='twitter:domain' content={Astro.url.host} />

{
  date && (
    <meta property='article:published_time' content={date.toISOString()} />
  )
}
