---
interface Props {
  id: string;
  label: string;
  options: {
    label: string;
    value: string;
  }[];
  selectedOption: {
    label: string;
    value: string;
  };
}

const {id, label, options, selectedOption} = Astro.props;
---

<div class='select-wrapper'>
  <label for={id} class='sr-only'>
    {label}
  </label>
  <select class='select' id={id}>
    {
      options.map((item) => (
        <option
          value={item.value}
          selected={item.value === selectedOption?.value}
        >
          {item.label}
        </option>
      ))
    }
  </select>
</div>

<style>
  .select-wrapper {
    position: relative;
    width: 12rem;
  }
  .select-wrapper::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.8rem;
    color: var(--color-text-base);
    line-height: 1;
  }

  .select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 3rem;
    padding: 0 2rem 0 1rem;
    border: var(--border-small);
    border-radius: 0;
    background: var(--color-background-base);
    cursor: pointer;
    font-family: var(--font-family-sans-serif-condensed);
    font-size: var(--font-size-medium);
    line-height: 1.2;
    color: var(--color-text-base);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .select:hover {
    background-color: var(--color-background-secondary);
  }
  .select:focus-within {
    outline: none;
    border-color: var(--color-primary);
  }
</style>

<script>
  document.querySelectorAll<HTMLSelectElement>('.select').forEach((select) => {
    select.addEventListener('change', () => {
      if (select.value) {
        window.location.href = select.value;
      }
    });
  });
</script>
