---
import {getCollection} from 'astro:content';

import Default from '@/layouts/Default.astro';
import {PAGES_METADATA} from '@/consts';

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const tagCounts: Record<string, number> = {};
allPosts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    tagCounts[tag] = (tagCounts[tag] || 0) + 1;
  });
});
const sortedTags = Object.entries(tagCounts).sort(
  ([a], [b]) => tagCounts[b] - tagCounts[a],
);

const {title, description} = PAGES_METADATA.tags;
---

<Default title={title} description={description}>
  <section>
    <h1>{title}</h1>
    <p>This page provides an overview of the tags used in the blog:</p>
    <ul>
      {
        sortedTags.map(([tag]) => (
          <li>
            <a href={`/blog/tags/${tag}/`}>
              {tag} ({tagCounts[tag]})
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Default>
