---
import {getCollection, type CollectionEntry} from 'astro:content';

import Default from '@/layouts/Default.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Select from '@/components/Select.astro';
import Tags from '@/components/Tags.astro';
import {createExcerpt} from '@/utils/create-excerpt';

type BlogPost = CollectionEntry<'blog'>;

interface Props {
  title: string;
  description: string;
  filteredPosts?: BlogPost[];
  selectedTag?: string;
}
const {title, description, filteredPosts, selectedTag} = Astro.props;

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())].sort(
  (a, b) => a.localeCompare(b),
);
const postsToRender = filteredPosts ?? allPosts;
const defaultOption = {label: '—', value: '/blog/'};
const tagOptions = [
  defaultOption,
  ...tags.map((tag) => ({
    label: tag,
    value: `/blog/tags/${tag}/`,
  })),
];
const selectedOption =
  tagOptions.find((tag) => tag.label === selectedTag) ?? defaultOption;
---

<Default title={title} description={description}>
  <section class='blog'>
    <h1>{title}</h1>
    <div class='posts-filters'>
      <div class='posts-count'>
        Showing {postsToRender.length} of {allPosts.length}
        {allPosts.length === 1 ? 'post' : 'posts'}
      </div>
      <Select
        id='tag-select'
        label='Filter by tag'
        options={tagOptions}
        selectedOption={selectedOption}
      />
    </div>
    <div class='posts-list'>
      {
        postsToRender.map((post: BlogPost) => {
          const excerpt = createExcerpt(post.body);

          return (
            <article>
              <a class='post-link' href={`/blog/${post.id}/`}>
                <h2 class='post-heading'>{post.data.title}</h2>
                <FormattedDate class='post-date' date={post.data.date} />
                <Tags tags={post.data.tags} />
                <p class='post-excerpt'>{excerpt}</p>
              </a>
            </article>
          );
        })
      }
    </div>
  </section>
</Default>

<style>
  .posts-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
  }

  .posts-count {
    margin: 0;
    line-height: 1;
    font-family: var(--font-family-sans-serif-condensed);
    font-size: var(--font-size-medium);
  }

  .posts-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
  }

  .post-link {
    border: var(--border-medium);
    padding: 2rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-base);
    gap: 0.5rem;
    font-family: var(--font-family-sans-serif-condensed);
  }
  .post-link:hover {
    border-color: var(--color-primary);
  }
  .post-link:focus-within {
    outline: none;
    border-color: var(--color-primary);
  }

  .post-heading {
    margin: 0;
    font-size: var(--font-size-heading-3);
  }

  .post-date {
    color: var(--color-text-secondary);
  }

  .post-excerpt {
    font-family: var(--font-family-sans-serif);
    margin: 0;
    hyphens: none;
  }
</style>
